<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Built-in Data Types and Variables</h1>

<h3>Note: This repository is for a personal Reference and study</h3>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

<html>
<body>
<div align="left">
<h1>Variables</h1>
   
</div>
</body>
    
    
**Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.**

## Variable Assignment
### We have some rules to name variables

- Not allowed to start variable with a number
- Not allowed to name your variable and it contains spaces, use _ intead
- names can not contain any of these symbols:
        :'",<>/?|\!@#%^&*~-+
- lowercases and underscores are recommended 
- avoid using Python built-in keywords like list and str
- avoid using the single characters l (lowercase letter el), O (uppercase letter oh) and I (uppercase letter eye) as they can be confused with 1 and 0

<html>
<body>
<div align="left">
<h2>Why Built-in objects and functions?</h2>    
</div>
</body>
   
    
Built-in objects and functions make it easy to create clean code. Since they eliminate the need to implement data structures. To solve complex problems, you can create your own objects using the built-in classes of the Python language, It's more efficient than handcrafted data structures and scratched code. Python's built-in types use already optimized data structures

<html>
<body>
<div align="left">
<h4>We'll cover the following built-in data types</h4>
   
</div>
</body>

In [27]:
"""


Numbers (7382, 3.14, 3 + 4j, Decimal, Fraction)
Strings ('net', "your's", u'joy ')
Lists ([1, [2, 'three'], 4])
Dictionaries ({'Alex': 2, 'Brian': 4})
Tuples ('Leo', 21.7, 'single')
Sets (set (1,2,3), {'a', 'b', 'c'})
Files (open ('myfile', 'r'))
Dynamic typing


"""

'\n\n\nNumbers (7382, 3.14, 3 + 4j, Decimal, Fraction)\nStrings (\'net\', "your\'s", u\'joy \')\nLists ([1, [2, \'three\'], 4])\nDictionaries ({\'Alex\': 2, \'Brian\': 4})\nTuples (\'Leo\', 21.7, \'single\')\nSets (set (1,2,3), {\'a\', \'b\', \'c\'})\nFiles (open (\'myfile\', \'r\'))\nDynamic typing\n\n\n'

<html>
<body>
<div align="left">
<h2>Data Types</h2>
<h4>int (integer</h4>
<h4>str (string)</h4>
<h4>bool (Boolean)</h4>
<h4>float</h4>
<h4>double</h4>
<h4>set</h4>
<h4>list</h4>
<h4>tuple</h4>
<h4>dict (dictionary)</h4>

</div>
</body>

<html>
<body>
<div align="left">
<h4>We can use type funtion to identify the data types</h4>
   
</div>
</body>

In [28]:
num = 100
print(type(num))

<class 'int'>

<html>
<body>
<div align="left">
<h3>int</h3>
   
</div>
</body>

In [18]:
# Numerical example
x = 10 
print(x)

10

<html>
<body>
<div align="left">
<h3>str</h3>
   
</div>
</body>

In [20]:
# String examble
text = "Hello in our documentary"
print(text)

Hello in our documentary

<html>
<body>
<div align="left">
<h3>bool</h3>
   
</div>
</body>

In [24]:
# Boolean examble
is_successed = True
is_failed = False
print(type(is_failed))
print(is_successed, is_failed)

<class 'bool'>
True False

<html>
<body>
<div align="left">
<h3>float</h3>
   
</div>
</body>

In [21]:
# float examble
y = 10.5
print(y)

10.5

<html>
<body>
<div align="left">
<h3>double</h3>
   
</div>
</body>

In [22]:
# double examble
z = 10.5550
print(z)

10.555

<html>
<body>
<div align="left">
<h3>List  (Mutable)</h3>
   
</div>
</body>
    
    
<html>
<body>
<div align="left">
<h3>Mutable: Is the ability of objects to change their values</h3>
   
</div>
</body> 
<html>
<body>
<div align="left">
<h3>Immutable: No change is possible over time. The value of an object cannot be changed over time</h3>
   
</div>
</body>

In [38]:
# Creating a list
array = [1, 2, 3]
print(type(array))
print(array)

<class 'list'>
[1, 2, 3]

In [40]:
# appending to a list
array.append(7)
print (array)

[1, 2, 3, 7, 7]

In [42]:
# Accessing items at specific location in a list
print ("array[0]: ", array[0])
print ("array[1]: ", array[1])
print ("array[2]: ", array[2])
print ("array[-1]: ", array[-1]) # the last item
print ("array[-2]: ", array[-2]) # the second to last item

array[0]:  1
array[1]:  2
array[2]:  3
array[-1]:  7
array[-2]:  7

#### Slicing

In [43]:
print ("array[:]: ", array[:])
print ("array[2:]: ", array[2:])
print ("array[1:3]: ", array[1:3])
print ("array[:-1]: ", array[:-1])

array[:]:  [1, 2, 3, 7, 7]
array[2:]:  [3, 7, 7]
array[1:3]:  [2, 3]
array[:-1]:  [1, 2, 3, 7]

<html>
<body>
<div align="left">
<h3>tuple  (Immutable)</h3>
   
</div>
</body>

In [29]:
t = (1, 2, 31,'a',True)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 31, 'a', True)

<html>
<body>
<div align="left">
<h3>dictionary  (mutable)</h3>
</div>
</body>

In [32]:
dic = {'name': "omar", 'age': 23}
print(dic)
print(type(dic))

{'name': 'omar', 'age': 23}
<class 'dict'>

<html>
<body>
<div align="left">
<h3>set  (mutable)</h3>
</div>
</body>

In [31]:
new_set = {1, 3, 7}
print(new_set)
print(type(new_set))

{1, 3, 7}
<class 'set'>

## That's great keep on ✨