<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Series</h1>

<h3>Note: This repository is for a personal Reference and study</h3>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

# Series

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Create Series

In [3]:
# Create series from Nump Array
arr = np.array([1,2,3,4,5,6,7])
df = pd.Series(arr)

In [4]:
df

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [5]:
df = pd.Series(data = arr)
df

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [6]:
df.dtype

dtype('int32')

In [8]:
my_list = [10,20,30,40,50,60,70,80,90,100]
df = pd.Series(my_list)
df

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [10]:
len(df)

10

In [11]:
df.count()

10

In [15]:
# Modifying index in Series
df.index=['A','B','C','D','E','F','G','H','J','K']
df

A     10
B     20
C     30
D     40
E     50
F     60
G     70
H     80
J     90
K    100
dtype: int64

In [17]:
# Create Series using Random and Range function
v2 = np.random.random(10)
ind2 = np.arange(0,10)
s = pd.Series(v2,ind2)
v2 , ind2 , s

(array([0.72393859, 0.79168038, 0.57076476, 0.18160415, 0.17661873,
        0.81169924, 0.37847652, 0.73798943, 0.23781411, 0.75060927]),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 0    0.723939
 1    0.791680
 2    0.570765
 3    0.181604
 4    0.176619
 5    0.811699
 6    0.378477
 7    0.737989
 8    0.237814
 9    0.750609
 dtype: float64)

In [20]:
# Creating Series from Dictionary
dict1 = {'a' :10 , 'b' :20 , 'c':30 , 'd ':40}
s3 = pd.Series(dict1)
s3

a     10
b     20
c     30
d     40
dtype: int64

In [22]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

## Slicing Series

In [24]:
df

A     10
B     20
C     30
D     40
E     50
F     60
G     70
H     80
J     90
K    100
dtype: int64

In [25]:
s[:]

0    0.723939
1    0.791680
2    0.570765
3    0.181604
4    0.176619
5    0.811699
6    0.378477
7    0.737989
8    0.237814
9    0.750609
dtype: float64

In [26]:
s[:5]

0    0.723939
1    0.791680
2    0.570765
3    0.181604
4    0.176619
dtype: float64

In [28]:
# First three element of the Series
df[0:3]

A    10
B    20
C    30
dtype: int64

In [29]:
# Return all elements of the series except last two elements.
df[:-2]

A    10
B    20
C    30
D    40
E    50
F    60
G    70
H    80
dtype: int64

In [30]:
# Return last two elements of the series
s[-2:]

8    0.237814
9    0.750609
dtype: float64

## Append Series

In [31]:
df2 = df.copy()

In [33]:
df

A     10
B     20
C     30
D     40
E     50
F     60
G     70
H     80
J     90
K    100
dtype: int64

In [35]:
df.append(s)

A     10.000000
B     20.000000
C     30.000000
D     40.000000
E     50.000000
F     60.000000
G     70.000000
H     80.000000
J     90.000000
K    100.000000
0      0.723939
1      0.791680
2      0.570765
3      0.181604
4      0.176619
5      0.811699
6      0.378477
7      0.737989
8      0.237814
9      0.750609
dtype: float64

In [43]:
df.new = [1,2,3,4,5,6,7,8,9,10]
df

A                                   10
B                                   20
C                                   30
D                                   40
E                                   50
F                                   60
G                                   70
H                                   80
J                                   90
K                                  100
new    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dtype: object

In [44]:
# When "inplace=False" it will return a new copy of data with the operation performed
df.drop('new',axis=0 , inplace=False)

A     10
B     20
C     30
D     40
E     50
F     60
G     70
H     80
J     90
K    100
dtype: object

## Operation on Series

In [45]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1) 
s2 = pd.Series(v2)

In [46]:
s1, s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    1
 1    2
 2    3
 dtype: int32)

In [47]:
# Addition of two series
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [48]:
# Subtraction of two series
s1.sub(s2)
# or
# s1.subtract(s2)

0     9
1    18
2    27
dtype: int32

In [49]:
# Multiplication of two series
s1.mul(s2)
# or
# s1.multiply(s2)

0    10
1    40
2    90
dtype: int32

In [50]:
# Division of two series
s1.divide(s2)
# or 
# s1.div(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [51]:
# Series comparison
s1.equals(s2)

False

In [54]:
# Series comparison
s1.equals(s1)

True

In [64]:
s = pd.Series([1,1,4,2,2,4,3,3,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12])
s

0     1
1     1
2     4
3     2
4     2
5     4
6     3
7     3
8     1
9     2
10    2
11    3
12    3
dtype: int64

In [65]:
s.value_counts()

2    4
3    4
1    3
4    2
dtype: int64

## That's great keep on ✨