<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Descriptive Statistics with pandas</h1>

<h3>Note: This repository is for a personal Reference and study</h3>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

This image indicate the **Analytics Levels**   <img src="analytics levels.png" width=500 height=500 />

# Descriptive Statistics
- **Descriptive statistics is about describing our collected data.**

In [27]:
# Import libs
import numpy as np
import pandas as pd
import statistics as st

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
nums = np.random.rand(7,7)
df = pd.DataFrame(nums, 
                  index = ['2021-01-20','2021-01-21','2021-01-22','2021-01-23','2021-01-24','2021-01-25','2021-01-26'],
                  columns = ['C1','C2','C3','C4','C5','C6','C7'])

In [4]:
df

,C1,C2,C3,C4,C5,C6,C7
2021-01-20,0.413290,0.348892,0.869436,0.479128,0.756309,0.430769,0.046079
2021-01-21,0.454507,0.132334,0.108046,0.324602,0.355205,0.921280,0.300431
2021-01-22,0.781750,0.496229,0.541564,0.695929,0.971040,0.585808,0.282532
2021-01-23,0.575860,0.532322,0.799161,0.469688,0.341546,0.782251,0.586273
2021-01-24,0.104848,0.570518,0.574759,0.901717,0.224441,0.463105,0.938752
2021-01-25,0.760704,0.703987,0.201234,0.425933,0.005294,0.417079,0.536775
2021-01-26,0.007171,0.202669,0.952872,0.096232,0.197382,0.528075,0.263743

In [5]:
df.at[:, 'C8'] = np.NaN
df.at[0:2 , 'C6'] = np.NaN
df.at[5:7 , 'C5'] = np.NaN
df.at[1:4 , 'C2'] = np.NaN
df.at[['2021-01-24','2021-01-25'] , 'C1'] = np.NaN

In [6]:
df

,C1,C2,C3,C4,C5,C6,C7,C8
2021-01-20,0.413290,0.348892,0.869436,0.479128,0.756309,NaN,0.046079,NaN
2021-01-21,0.454507,NaN,0.108046,0.324602,0.355205,NaN,0.300431,NaN
2021-01-22,0.781750,NaN,0.541564,0.695929,0.971040,0.585808,0.282532,NaN
2021-01-23,0.575860,NaN,0.799161,0.469688,0.341546,0.782251,0.586273,NaN
2021-01-24,NaN,0.570518,0.574759,0.901717,0.224441,0.463105,0.938752,NaN
2021-01-25,NaN,0.703987,0.201234,0.425933,NaN,0.417079,0.536775,NaN
2021-01-26,0.007171,0.202669,0.952872,0.096232,NaN,0.528075,0.263743,NaN

In [7]:
# Fill NULL values with 20
df.fillna(20 , inplace=True)
df

,C1,C2,C3,C4,C5,C6,C7,C8
2021-01-20,0.413290,0.348892,0.869436,0.479128,0.756309,20.000000,0.046079,20.0
2021-01-21,0.454507,20.000000,0.108046,0.324602,0.355205,20.000000,0.300431,20.0
2021-01-22,0.781750,20.000000,0.541564,0.695929,0.971040,0.585808,0.282532,20.0
2021-01-23,0.575860,20.000000,0.799161,0.469688,0.341546,0.782251,0.586273,20.0
2021-01-24,20.000000,0.570518,0.574759,0.901717,0.224441,0.463105,0.938752,20.0
2021-01-25,20.000000,0.703987,0.201234,0.425933,20.000000,0.417079,0.536775,20.0
2021-01-26,0.007171,0.202669,0.952872,0.096232,20.000000,0.528075,0.263743,20.0

In [8]:
# Mean of all Columns
df.mean()

C1     6.033225
C2     8.832295
C3     0.578153
C4     0.484747
C5     6.092649
C6     6.110903
C7     0.422084
C8    20.000000
dtype: float64

In [9]:
# Max value per column
df.max()

C1    20.000000
C2    20.000000
C3     0.952872
C4     0.901717
C5    20.000000
C6    20.000000
C7     0.938752
C8    20.000000
dtype: float64

In [10]:
# Min value per column
df.min()

C1     0.007171
C2     0.202669
C3     0.108046
C4     0.096232
C5     0.224441
C6     0.417079
C7     0.046079
C8    20.000000
dtype: float64

In [11]:
# Median 
df.median()

C1     0.575860
C2     0.703987
C3     0.574759
C4     0.469688
C5     0.756309
C6     0.585808
C7     0.300431
C8    20.000000
dtype: float64

In [12]:
# Standard Deviation
df.std()

C1     9.543947
C2    10.447630
C3     0.326222
C4     0.257802
C5     9.504083
C6     9.488769
C7     0.290913
C8     0.000000
dtype: float64

In [13]:
# Variance 
df.var()

C1     91.086920
C2    109.152971
C3      0.106421
C4      0.066462
C5     90.327589
C6     90.036743
C7      0.084631
C8      0.000000
dtype: float64

In [14]:
# Lower Quartile / First Quartile
df.quantile(0.25)

C1     0.433899
C2     0.459705
C3     0.371399
C4     0.375268
C5     0.348376
C6     0.495590
C7     0.273137
C8    20.000000
Name: 0.25, dtype: float64

In [15]:
# Lower Quartile / Third Quartile
df.quantile(0.75)

C1    10.390875
C2    20.000000
C3     0.834299
C4     0.587528
C5    10.485520
C6    10.391125
C7     0.561524
C8    20.000000
Name: 0.75, dtype: float64

In [16]:
# IQR (Interquartile Range)
df.quantile(0.75) - df.quantile(0.25)

C1     9.956976
C2    19.540295
C3     0.462900
C4     0.212261
C5    10.137144
C6     9.895535
C7     0.288386
C8     0.000000
dtype: float64

In [17]:
# SUM of column values
df.sum()

C1     42.232578
C2     61.826066
C3      4.047072
C4      3.393229
C5     42.648541
C6     42.776318
C7      2.954585
C8    140.000000
dtype: float64

In [18]:
# SUM of column values
df.loc[:,['C2','C3']].mean()

C2    8.832295
C3    0.578153
dtype: float64

In [19]:
# GENERATES DESCRIPTIVE STATS
df.describe()

,C1,C2,C3,C4,C5,C6,C7,C8
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.0
mean,6.033225,8.832295,0.578153,0.484747,6.092649,6.110903,0.422084,20.0
std,9.543947,10.447630,0.326222,0.257802,9.504083,9.488769,0.290913,0.0
min,0.007171,0.202669,0.108046,0.096232,0.224441,0.417079,0.046079,20.0
25%,0.433899,0.459705,0.371399,0.375268,0.348376,0.495590,0.273137,20.0
50%,0.575860,0.703987,0.574759,0.469688,0.756309,0.585808,0.300431,20.0
75%,10.390875,20.000000,0.834299,0.587528,10.485520,10.391125,0.561524,20.0
max,20.000000,20.000000,0.952872,0.901717,20.000000,20.000000,0.938752,20.0

### Skewness
- **(mean-median)/std**
- **If skewness = 0 ,median equals mean euals mode so skewness will be 0 (mean=median=mode)**
- **Positively Skewness if mode<media<mean**
- **Negativly Skewness if mode>media>mean**
- https://www.youtube.com/watch?v=HnMGKsupF8Q

In [21]:
df.skew()

C1    1.227077
C2    0.373264
C3   -0.466216
C4    0.258148
C5    1.226433
C6    1.228993
C7    0.779135
C8    0.000000
dtype: float64

In [22]:
# Return unbiased kurtosis using Fisherâ€™s definition of kurtosis
df.kurt()

C1   -0.841929
C2   -2.798714
C3   -1.348379
C4    0.481638
C5   -0.842582
C6   -0.840513
C7    0.683919
C8    0.000000
dtype: float64

In [23]:
df

,C1,C2,C3,C4,C5,C6,C7,C8
2021-01-20,0.413290,0.348892,0.869436,0.479128,0.756309,20.000000,0.046079,20.0
2021-01-21,0.454507,20.000000,0.108046,0.324602,0.355205,20.000000,0.300431,20.0
2021-01-22,0.781750,20.000000,0.541564,0.695929,0.971040,0.585808,0.282532,20.0
2021-01-23,0.575860,20.000000,0.799161,0.469688,0.341546,0.782251,0.586273,20.0
2021-01-24,20.000000,0.570518,0.574759,0.901717,0.224441,0.463105,0.938752,20.0
2021-01-25,20.000000,0.703987,0.201234,0.425933,20.000000,0.417079,0.536775,20.0
2021-01-26,0.007171,0.202669,0.952872,0.096232,20.000000,0.528075,0.263743,20.0

In [25]:
#Correlation
# https://www.youtube.com/watch?v=qtaqvPAeEJY&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=10
df.corr()

          C1        C2        C3        C4        C5        C6        C7  C8
C1  1.000000 -0.520054 -0.406742  0.490538  0.273324 -0.408949  0.744402 NaN
C2 -0.520054  1.000000 -0.283796  0.051691 -0.545182  0.096150 -0.094760 NaN
C3 -0.406742 -0.283796  1.000000 -0.123340  0.002607 -0.182307 -0.202414 NaN
C4  0.490538  0.051691 -0.123340  1.000000 -0.592763 -0.220744  0.577481 NaN
C5  0.273324 -0.545182  0.002607 -0.592763  1.000000 -0.403901 -0.070169 NaN
C6 -0.408949  0.096150 -0.182307 -0.220744 -0.403901  1.000000 -0.585840 NaN
C7  0.744402 -0.094760 -0.202414  0.577481 -0.070169 -0.585840  1.000000 NaN
C8       NaN       NaN       NaN       NaN       NaN       NaN       NaN NaN

In [26]:
#Covariance
# https://www.youtube.com/watch?v=xZ_z8KWkhXE&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=11
df.cov()

,C1,C2,C3,C4,C5,C6,C7,C8
C1,91.086920,-51.855416,-1.266366,1.206941,24.792298,-37.034555,2.066805,0.0
C2,-51.855416,109.152971,-0.967245,0.139226,-54.133940,9.531800,-0.288009,0.0
C3,-1.266366,-0.967245,0.106421,-0.010373,0.008082,-0.564322,-0.019210,0.0
C4,1.206941,0.139226,-0.010373,0.066462,-1.452369,-0.539989,0.043310,0.0
C5,24.792298,-54.133940,0.008082,-1.452369,90.327589,-36.424628,-0.194009,0.0
C6,-37.034555,9.531800,-0.564322,-0.539989,-36.424628,90.036743,-1.617160,0.0
C7,2.066805,-0.288009,-0.019210,0.043310,-0.194009,-1.617160,0.084631,0.0
C8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [28]:
df.at[3:6,'C1'] = 22
df

,C1,C2,C3,C4,C5,C6,C7,C8
2021-01-20,0.413290,0.348892,0.869436,0.479128,0.756309,20.000000,0.046079,20.0
2021-01-21,0.454507,20.000000,0.108046,0.324602,0.355205,20.000000,0.300431,20.0
2021-01-22,0.781750,20.000000,0.541564,0.695929,0.971040,0.585808,0.282532,20.0
2021-01-23,22.000000,20.000000,0.799161,0.469688,0.341546,0.782251,0.586273,20.0
2021-01-24,22.000000,0.570518,0.574759,0.901717,0.224441,0.463105,0.938752,20.0
2021-01-25,22.000000,0.703987,0.201234,0.425933,20.000000,0.417079,0.536775,20.0
2021-01-26,0.007171,0.202669,0.952872,0.096232,20.000000,0.528075,0.263743,20.0

In [29]:
# Average
st.mean(df['C1'])

9.665245444821506

In [30]:
# Hormonic Mean
st.harmonic_mean(df['C1'])

0.04811191352272082

In [31]:
#Returns average of the two middle numbers when length is EVEN
arr = np.array([1,2,3,4,5,6,7,8])
print(st.median(arr))
print(np.median(arr))

4.5
4.5

In [33]:
# Mode of Dataset
st.mode(df['C1'])

22.0

In [34]:
#Population Variance
st.pvariance(df['C1'])

114.15282625185336

In [36]:
#Sample Standard Deviation
st.stdev(df['C1'])

11.540290173727389

In [40]:
#Population Standard Deviation
st.pstdev(df['C1'])

10.684232600044487

### Apply function on Dataframe

In [41]:
df

,C1,C2,C3,C4,C5,C6,C7,C8
2021-01-20,0.413290,0.348892,0.869436,0.479128,0.756309,20.000000,0.046079,20.0
2021-01-21,0.454507,20.000000,0.108046,0.324602,0.355205,20.000000,0.300431,20.0
2021-01-22,0.781750,20.000000,0.541564,0.695929,0.971040,0.585808,0.282532,20.0
2021-01-23,22.000000,20.000000,0.799161,0.469688,0.341546,0.782251,0.586273,20.0
2021-01-24,22.000000,0.570518,0.574759,0.901717,0.224441,0.463105,0.938752,20.0
2021-01-25,22.000000,0.703987,0.201234,0.425933,20.000000,0.417079,0.536775,20.0
2021-01-26,0.007171,0.202669,0.952872,0.096232,20.000000,0.528075,0.263743,20.0

In [42]:
# Finding MAX value in Columns
df.apply(max)

C1    22.000000
C2    20.000000
C3     0.952872
C4     0.901717
C5    20.000000
C6    20.000000
C7     0.938752
C8    20.000000
dtype: float64

In [43]:
max(df.apply(max))

22.0

In [45]:
# Finding minimum value in Columns
df.apply(min)

C1     0.007171
C2     0.202669
C3     0.108046
C4     0.096232
C5     0.224441
C6     0.417079
C7     0.046079
C8    20.000000
dtype: float64

In [47]:
min(df.apply(min))

0.007170578002409056

In [48]:
# Sum of Column Values
df.apply(sum)
# or
# df.apply(np.sum)

C1     67.656718
C2     61.826066
C3      4.047072
C4      3.393229
C5     42.648541
C6     42.776318
C7      2.954585
C8    140.000000
dtype: float64

In [51]:
df.sum()

C1     67.656718
C2     61.826066
C3      4.047072
C4      3.393229
C5     42.648541
C6     42.776318
C7      2.954585
C8    140.000000
dtype: float64

In [53]:
# Sum of all cells in the DataFrame
sum(df.apply(sum))

365.30252961987594

In [54]:
# Sum of rows
df.apply(np.sum ,axis=1)

2021-01-20    42.913133
2021-01-21    61.542793
2021-01-22    43.858624
2021-01-23    64.978919
2021-01-24    45.673293
2021-01-25    64.285008
2021-01-26    42.050761
dtype: float64

In [56]:
# Square root of all values in a DataFrame
df.applymap(np.sqrt)

,C1,C2,C3,C4,C5,C6,C7,C8
2021-01-20,0.642876,0.590671,0.932435,0.692191,0.869660,4.472136,0.214660,4.472136
2021-01-21,0.674172,4.472136,0.328704,0.569739,0.595991,4.472136,0.548116,4.472136
2021-01-22,0.884166,4.472136,0.735910,0.834224,0.985414,0.765381,0.531538,4.472136
2021-01-23,4.690416,4.472136,0.893958,0.685338,0.584419,0.884449,0.765684,4.472136
2021-01-24,4.690416,0.755326,0.758129,0.949588,0.473753,0.680518,0.968892,4.472136
2021-01-25,4.690416,0.839039,0.448591,0.652635,4.472136,0.645816,0.732649,4.472136
2021-01-26,0.084679,0.450188,0.976151,0.310212,4.472136,0.726688,0.513559,4.472136

In [63]:
# Square root of all values in a DataFrame
import math
df.applymap(math.sqrt)

,C1,C2,C3,C4,C5,C6,C7,C8
2021-01-20,0.642876,0.590671,0.932435,0.692191,0.869660,4.472136,0.214660,4.472136
2021-01-21,0.674172,4.472136,0.328704,0.569739,0.595991,4.472136,0.548116,4.472136
2021-01-22,0.884166,4.472136,0.735910,0.834224,0.985414,0.765381,0.531538,4.472136
2021-01-23,4.690416,4.472136,0.893958,0.685338,0.584419,0.884449,0.765684,4.472136
2021-01-24,4.690416,0.755326,0.758129,0.949588,0.473753,0.680518,0.968892,4.472136
2021-01-25,4.690416,0.839039,0.448591,0.652635,4.472136,0.645816,0.732649,4.472136
2021-01-26,0.084679,0.450188,0.976151,0.310212,4.472136,0.726688,0.513559,4.472136

In [65]:
df.applymap(int)

            C1  C2  C3  C4  C5  C6  C7  C8
2021-01-20   0   0   0   0   0  20   0  20
2021-01-21   0  20   0   0   0  20   0  20
2021-01-22   0  20   0   0   0   0   0  20
2021-01-23  22  20   0   0   0   0   0  20
2021-01-24  22   0   0   0   0   0   0  20
2021-01-25  22   0   0   0  20   0   0  20
2021-01-26   0   0   0   0  20   0   0  20

In [68]:
# Using Lambda function in Dataframes
df.apply(lambda x: max(x))

C1    22.000000
C2    20.000000
C3     0.952872
C4     0.901717
C5    20.000000
C6    20.000000
C7     0.938752
C8    20.000000
dtype: float64

In [69]:
# Using Lambda function in Rows
df.apply(lambda x: max(x), axis = 1)

2021-01-20    20.0
2021-01-21    20.0
2021-01-22    20.0
2021-01-23    22.0
2021-01-24    22.0
2021-01-25    22.0
2021-01-26    20.0
dtype: float64

## Measure of Spread
- **Range**
- **Interquartile Range (IQR)**
- **Standard Deviation**
- **Variance**

## Inferential Statistics
- **Inferential Statistics is about using our collected data to draw conclusions to a larger population.**
- **Drawing conclusions about a population based on data collected from a sample of individuals from that population**

#### We looked at specific examples that allowed us to identify the

- **Population** - our entire group of interest.
- **Parameter** - numeric summary about a population
- **Sample** - subset of the population
- **Statistic** numeric summary about a sample

This image indicate the **Inferential Statistics**   <img src="inferential statistics.png" width=500 height=500 />

## That's great keep on âœ¨